<%- include("./partials/header.html") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - BitHeart</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="\assets\css\index.css">
</head>
<body>
    <div class="jumbotron jumbotron-fluid text-white custom-jumbotron">
        <div class="container text-center">
            <h1 class="display-4">BitHeart</h1>
            <p class="lead">Discover, Share, and Watch high quality videos.</p>
            <img src="/assets/img/favicons/home-img.png" alt="Home Image">   
        </div>
    </div>

    

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>How BitHeart Works</h2>
                <p>We would like to take the opportunity to present to you our main services that can help you grow easily on social media.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="service-item">
                    <img src="/assets/img/favicons/Check list.png" class="img-fluid mb-3" alt="Service 1">
                    <h4>Complete Tasks</h4>
                    <p>Earn points by completing simple tasks.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="service-item">
                    <img src="/assets/img/favicons/money.png" class="img-fluid mb-3" alt="Service 2">
                    <h4>Earn Money</h4>
                    <p>Convert your points into real money.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="service-item">
                    <img src="/assets/img/favicons/formulario.png" class="img-fluid mb-3" alt="Service 3">
                    <h4>Create Campaigns</h4>
                    <p>Create campaigns and promote your content.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center mb-4">
                <button class="btn btn-outline-instagram btn-block" id="btn-instagram">
                    <i class="fab fa-instagram"></i> Instagram
                </button>
                <div id="popup-instagram" class="popup">
                    <div class="popup__header">
                        <div class="heading">Instagram</div>
                        <div class="popup__close">&times;</div>
                    </div>
                    <div class="popup__wrap">
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Instagram.png" alt="Instagram Followers">
                            </span>
                            <span class="popup__title">Instagram Followers</span>
                            <button class="popup__button btn-outline-instagram">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Instagram.png" alt="Instagram Likes">
                            </span>
                            <span class="popup__title">Instagram Likes</span>
                            <button class="popup__button btn-outline-instagram">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Instagram.png" alt="Instagram Comments">
                            </span>
                            <span class="popup__title">Instagram Comments</span>
                            <button class="popup__button btn-outline-instagram">Order now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center mb-4">
                <button class="btn btn-outline-youtube btn-block" id="btn-youtube">
                    <i class="fab fa-youtube"></i> YouTube
                </button>
                <div id="popup-youtube" class="popup">
                    <div class="popup__header">
                        <div class="heading">YouTube</div>
                        <div class="popup__close">&times;</div>
                    </div>
                    <div class="popup__wrap">
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Youtube.png" alt="YouTube Subscribers">
                            </span>
                            <span class="popup__title">YouTube Subscribers</span>
                            <button class="popup__button btn-outline-youtube">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Youtube.png" alt="YouTube Likes">
                            </span>
                            <span class="popup__title">YouTube Likes</span>
                            <button class="popup__button btn-outline-youtube">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Youtube.png" alt="YouTube Views">
                            </span>
                            <span class="popup__title">YouTube Views</span>
                            <button class="popup__button btn-outline-youtube">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Youtube.png" alt="YouTube Comments">
                            </span>
                            <span class="popup__title">YouTube Comments</span>
                            <button class="popup__button btn-outline-youtube">Order now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center mb-4">
                <button class="btn btn-outline-twitter btn-block" id="btn-twitter">
                    <i class="fab fa-twitter"></i> Twitter
                </button>
                <div id="popup-twitter" class="popup">
                    <div class="popup__header">
                        <div class="heading">Twitter</div>
                        <div class="popup__close">&times;</div>
                    </div>
                    <div class="popup__wrap">
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Twitter.png" alt="Twitter Followers">
                            </span>
                            <span class="popup__title">Twitter Followers</span>
                            <button class="popup__button btn-outline-twitter">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Twitter.png" alt="Twitter Likes">
                            </span>
                            <span class="popup__title">Twitter Likes</span>
                            <button class="popup__button btn-outline-twitter">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Twitter.png" alt="Twitter Retweets">
                            </span>
                            <span class="popup__title">Twitter Retweets</span>
                            <button class="popup__button btn-outline-twitter">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/Twitter.png" alt="Twitter Comments">
                            </span>
                            <span class="popup__title">Twitter Comments</span>
                            <button class="popup__button btn-outline-twitter">Order now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center mb-4">
                <button class="btn btn-outline-tiktok btn-block" id="btn-tiktok">
                    <i class="fab fa-tiktok"></i> TikTok
                </button>
                <div id="popup-tiktok" class="popup">
                    <div class="popup__header">
                        <div class="heading">TikTok</div>
                        <div class="popup__close">&times;</div>
                    </div>
                    <div class="popup__wrap">
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/TikTok.png" alt="TikTok Followers">
                            </span>
                            <span class="popup__title">TikTok Followers</span>
                            <button class="popup__button btn-outline-tiktok">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/TikTok.png" alt="TikTok Views">
                            </span>
                            <span class="popup__title">TikTok Views</span>
                            <button class="popup__button btn-outline-tiktok">Order now</button>
                        </div>
                        <div class="popup__item">
                            <span class="popup__pic">
                                <img src="/assets/img/logos/TikTok.png" alt="TikTok Comments">
                            </span>
                            <span class="popup__title">TikTok Comments</span>
                            <button class="popup__button btn-outline-tiktok">Order now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5 section5__info">
    <div class="container">
        <h2 class="section5__heading">Why Advertise With Us</h2>
        <div class="row section5__features">
            <div class="col-md-3 section5__feature">
                <p class="number" data-target="50">0</p>
                <p>Ad Campaigns</p>
            </div>
            <div class="col-md-3 section5__feature">
                <p class="number range" data-target="9000">0</p>
                <p>Active Users</p>
            </div>            
            <div class="col-md-3 section5__feature">
                <p class="number plus" data-target="3">0</p>
                <p>Years Experience</p>
            </div>
            <div class="col-md-3 section5__feature">
                <p class="number percent" data-target="97.3">0</p>
                <p>Satisfaction</p>
            </div>
        </div>
    </div>
</section>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <!-- Customer Testimonials -->
            <h2 class="testimonial-header">Customer Testimonials</h2>
            <div class="testimonial-container">
                <div class="testimonial">
                    <p>"Great service! I am very pleased with the result."</p>
                    <cite>— John Doe</cite>
                </div>
                
                <div class="testimonial">
                    <p>"Excellent customer service. I recommend to everyone!"</p>
                    <cite>— Mary Smith</cite>
                </div>
                
                <div class="testimonial">
                    <p>"Competent and committed professionals."</p>
                    <cite>— Carlos Oliveira</cite>
                </div>
                
                <div class="testimonial">
                    <p>"Fast and efficient service. Will definitely hire again."</p>
                    <cite>— Ana Rodrigues</cite>
                </div>
                
                <div class="testimonial">
                    <p>"Fantastic experience from start to finish."</p>
                    <cite>— Pedro Silva</cite>
                </div>
                
                <div class="testimonial">
                    <p>"They were very attentive and met all my needs."</p>
                    <cite>— Clara Santos</cite>
                </div>
                
                <div class="testimonial">
                    <p>"Highly recommend their services, very professional."</p>
                    <cite>— Luís Fernandes</cite>
                </div>
                
                <div class="testimonial">
                    <p>"Quick response time and quality work."</p>
                    <cite>— Marta Costa</cite>
                </div>
                
                <div class="testimonial">
                    <p>"Amazing team and outstanding results."</p>
                    <cite>— Rafael Lima</cite>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        font-family: Arial, sans-serif;
    }
    .content {
        flex: 1;
    }
    .footer {
        background-color: #1b1b1b;
        color: #b3b3b3;
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 14px;
    }
    .footer .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer .footer-top .logo img {
        max-width: 400px; 
    }
    .footer .footer-links ul {
        list-style: none;
        padding-left: 0;
    }
    .footer .footer-links ul li {
        margin-bottom: 10px;
    }
    .footer .footer-links ul li a {
        color: #b3b3b3;
        text-decoration: none;
        transition: color 0.3s;
    }
    .footer .footer-links ul li a:hover {
        color: #ffffff;
    }
    .footer .contact-info p {
        color: #b3b3b3;
        margin-bottom: 10px;
    }
    .footer .bottom-line {
        border-top: 1px solid #333333;
        margin-top: 20px;
        padding-top: 20px;
    }
    .footer .bottom-line p {
        color: #666666;
        font-size: 12px;
        text-align: center;
        margin: 0;
    }
</style>
</head>
<body>


<section class="footer" style="display: block !important; position: relative; transform: translateY(15%);">
<div class="container">
    <div class="footer-top row">
        <div class="col-md-9 footer-links">
            <div class="row">
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="#!">Home</a></li>
                        <li><a href="#!">About Us</a></li>
                        <li><a href="#!">Services</a></li>
                        <li><a href="#!">Deskboard</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Services</h5>
                    <ul>
                        <li><a href="#!">Complete Tasks</a></li>
                        <li><a href="#!">Earn Money</a></li>
                        <li><a href="#!">Create Campaigns</a></li>
                    </ul>
                </div>
                <div class="col-md-4 contact-info">
                    <h5>Contact Us</h5>
                    <p><i class="fas fa-map-marker-alt"></i> 123 Street, City, Country</p>
                    <p><i class="fas fa-envelope"></i> <a href="mailto:contact@example.com">heartbit@gmail.com</a></p>
                    <p><i class="fas fa-phone"></i> +355 123123123</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-md-right logo">
            <img src="\assets\logos\Logo.png" alt="Company Logo">
        </div>
    </div>
    <div class="bottom-line">
        <p>&copy; 2024 HeartBit. All rights reserved.</p>
    </div>
</div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="\assets\js\index.js"></script>
</body>
</html>
<%- include("./partials/footer.html") %>
