<%- include("./partials/header.html") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .service-item {
        background-color: transparent;
    }
    .service-item img {
        border-radius: 20px;
        width: 100%;
        height: auto;
    }
    .popup-content {
        border: 1px solid #ddd;
        padding: 20px;
        background-color: #f9f9f9;
    }
</style>
<div class="jumbotron jumbotron-fluid py-5">
    <div class="container text-center">
        <h1 class="display-4">BitHeart</h1>
        <p class="lead">Discover, Share, and Watch high quality videos.</p>
    </div>
</div>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>How BitHeart Works</h2>
                <p>We would like to take the opportunity to present to you our main services that can help you grow easily on social media.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 mb-4">
                <div class="service-item">
                    <img src="/assets/img/favicons/Check list.png" class="img-fluid mb-3" alt="Service 1">
                    <h4>Complete Tasks</h4>
                    <p>Earn points by completing simple tasks.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="service-item">
                    <img src="/assets/img/favicons/money.png" class="img-fluid mb-3" alt="Service 2">
                    <h4>Earn Money</h4>
                    <p>Convert your points into real money.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="service-item">
                    <img src="/assets/img/favicons/formulario.png" class="img-fluid mb-3" alt="Service 3">
                    <h4>Create Campaigns</h4>
                    <p>Create campaigns and promote your content.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>Our services for advertisers</h2>
                <p>We would like to take the opportunity to present to you our main services that can help you grow easily on social media.</p>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center mb-4">
                <button class="btn btn-outline-primary btn-block" id="btn-instagram">
                    <i class="fab fa-instagram"></i> Instagram
                </button>
                <div id="popup-instagram" class="popup-content mt-3" style="display: none;">
                    <h3>Instagram Popup</h3>
                    <p>Instagram popup content here...</p>
                </div>
            </div>
            <div class="col-md-4 text-center mb-4">
                <button class="btn btn-outline-danger btn-block" id="btn-youtube">
                    <i class="fab fa-youtube"></i> YouTube
                </button>
                <div id="popup-youtube" class="popup-content mt-3" style="display: none;">
                    <h3>YouTube Popup</h3>
                    <p>YouTube popup content here...</p>
                </div>
            </div>
            <div class="col-md-4 text-center mb-4">
                <button class="btn btn-outline-info btn-block" id="btn-twitter">
                    <i class="fab fa-twitter"></i> Twitter
                </button>
                <div id="popup-twitter" class="popup-content mt-3" style="display: none;">
                    <h3>Twitter Popup</h3>
                    <p>Twitter popup content here...</p>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function() {
        $('#btn-instagram').click(function() {
            $('#popup-instagram').toggle();
        });

        $('#btn-youtube').click(function() {
            $('#popup-youtube').toggle();
        });

        $('#btn-twitter').click(function() {
            $('#popup-twitter').toggle();
        });
    });
</script>

</body>
</html>
<%- include("./partials/footer.html") %>
