<%- include("../partials/header.html") %>

<% if (successMessage) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= successMessage %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<div class="card mb-3">
    <div class="card-body">
        <div class="row flex-between-center">
            <div class="col-md">
                <h5 class="mb-2 mb-md-0"><%= platform.charAt(0).toUpperCase() + platform.slice(1) %> - <%= action.split('_').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></h5>
            </div>
        </div>
    </div>
</div>

<div class="row g-10">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-header bg-body-tertiary">
                <h6 class="mb-0"><%= platform === 'x' ? 'X' : platform.charAt(0).toUpperCase() + platform.slice(1) %> Profile URL</h6>
            </div>
            <div class="card-body">
                <form id="announcementForm" action="/announcement" method="POST">
                    <input type="hidden" id="platform" name="platform" value="<%= platform %>">
                    <input type="hidden" id="action" name="action" value="<%= action %>">

                    <div class="row gx-2">
                        <div class="col-12 mb-3">
                            <label for="profile-url" class="form-label">Profile URL</label>
                            <input class="form-control" id="profile-url" type="text" placeholder="Enter <%= platform === 'x' ? 'X' : platform.charAt(0).toUpperCase() + platform.slice(1) %> URL" oninput="validateInput()" onblur="fetchPlatformInfo()">
                            <div class="text-muted" style="margin-top: 6px; font-size: 0.75rem;">
                                <i class="fa fa-info-circle" style="margin-right: 8px;"></i>Enter a valid <%= platform === 'x' ? 'X' : platform.charAt(0).toUpperCase() + platform.slice(1) %> URL
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="alert alert-danger" role="alert" style="margin-bottom: 1.5rem; display: none;" id="order_add_error">
                                <i data-feather="alert-triangle" class="mg-r-10"></i>
                                <span>
                                    You specified an incorrect URL! Possible causes of this error:
                                    <ul>
                                        <li>The resource (profile or post) you specified has been deleted by its owner</li>
                                        <li>Profile or post is private and not viewable</li>
                                        <li>If you are sure that the URL is correct and the profile or post is not private, it is possible that our proxy pool is overloaded and cannot process your request right now. Please wait a few seconds and retry the request.</li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <% if (platform === 'youtube') { %>
                        <div class="col-12 mb-3 d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-column flex-grow-1">
                                <label for="manufacturer-name" class="form-label">Profile Name</label>
                                <input class="form-control mb-2" id="manufacturer-name" type="text" name="username" disabled value="">
                                <label for="event-description" class="form-label">Profile Description</label>
                                <textarea class="form-control" id="event-description" rows="3" name="description" disabled></textarea>
                            </div>
                            <div class="d-flex align-items-center ms-2">
                                <img class="rounded-square me-2" id="thumbnail" src="../../../assets/img/team/no-image.jpg" alt="Profile Thumbnail" width="140" height="140" />
                            </div>
                        </div>
                        <% } else { %>
                        <div class="col-12 mb-3">
                            <label for="profile-name" class="form-label">Profile Name</label>
                            <input class="form-control mb-2" id="profile-name" name="username" type="text" required value="">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="profile-description" class="form-label">Profile Description</label>
                            <textarea class="form-control" id="profile-description" rows="3" name="description" required></textarea>
                        </div>
                        <% } %>
                        <hr>
                    </div>
                    <!-- Price Details Section -->
                    <div class="card mb-3">
                        <div class="card-header bg-body-tertiary">
                            <h6 class="mb-0">Price Details</h6>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label" for="order_price_usd">Reward Per Action: </label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" name="rewardPerAction" id="order_price_usd" value="0.0020" onkeypress="return is_float_key(event);" onblur="validateMinValue(this, 0.0010)">
                                    </div>
                                </div>
                                <!-- Daily Actions Limit -->
                                <div class="col-12 mb-3">
                                    <div class="form-group">
                                        <label for="check_box_1" class="d-block">Daily Actions Limit (Default: 1)</label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <input type="checkbox" id="check_box_1" onchange="toggleDailyLimit()">
                                            </div>
                                            <input type="text" class="form-control" name="order_daily_limit" id="order_daily_limit" value="0" disabled onkeypress="return is_number_key(event);">
                                        </div>
                                    </div>
                                </div>
                                <!-- Overall Actions Limit -->
                                <div class="col-12 mb-3">
                                    <div class="form-group">
                                        <label for="check_box_2" class="d-block">Overall Actions Limit (Default: 10)</label>
                                        <div class="input-group">
                                            <div class="input-group-text">
                                                <input type="checkbox" id="check_box_2" onchange="toggleOverallLimit()">
                                            </div>
                                            <input type="text" class="form-control" name="overall_actions_limit" id="overall_actions_limit" value="0" disabled onkeypress="return is_number_key(event);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <div class="card-body">
                            <div class="row justify-content-between align-items-center">
                                <div class="col-md">
                                    <h5 class="mb-2 mb-md-0"></h5>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary disabled" onclick="submitForm()" style="float: right;margin-bottom: 20px;" id="btn_submit" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 8px; display: none;"></span>
                                        Add A New Campaign
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer.html") %>
<script>
    function toggleDailyLimit() {
        var dailyLimitInput = document.getElementById('order_daily_limit');
        dailyLimitInput.disabled = !dailyLimitInput.disabled;
    }

    function toggleOverallLimit() {
        var overallLimitInput = document.getElementById('overall_actions_limit');
        overallLimitInput.disabled = !overallLimitInput.disabled;
    }

    function is_number_key(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function is_float_key(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if ((charCode != 46 || evt.target.value.indexOf('.') != -1) && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function validateMinValue(input, minValue) {
        var value = parseFloat(input.value);
        if (isNaN(value) || value < minValue) {
            input.value = minValue.toFixed(4);
        }
    }

    function validateInput() {
        const profileUrlInput = document.getElementById('profile-url');
        const submitButton = document.getElementById('btn_submit');
        const platform = document.getElementById('platform').value;
        const urlPattern = new RegExp(`https?://(?:www\\.)?(${platform === 'twitter' ? 'x' : platform}\\.com)/.+`);

        if (urlPattern.test(profileUrlInput.value.trim())) {
            submitButton.classList.remove('disabled');
            submitButton.disabled = false;
        } else {
            submitButton.classList.add('disabled');
            submitButton.disabled = true;
        }
    }
</script>
