<%- include("../partials/header.html") %>

<div class="alert_info" style="margin-bottom: 1rem;">
    <span style="display:inline !important;">Click the "Like Post" button, set the like in the opened window and then <b>close this window</b>. Our system will check for the presence or absence of your action and will add the reward in accordance with this.<br><br>You can <a href="https://everve.net/campaigns-add/quora-likes/">create your own campaign</a> in the <b>"Quora Likes"</b> category and getting a live audience by promoting your content or account on a social network using funds on your balance.</span>
</div>

<style>
    .alert_info {
    display: block;
    width: 100%;
    background: #e4f5ff;
    border-radius: .25rem;
    padding: 15px;
    font-size: var(--fz-md);
    line-height: 20px;
    margin-top: 20px;
    font-weight: 400;
    border: 1px solid #e1e4e8;
    border-left: 6px solid #2b81ff !important;
    color: #2b81ff;
    }
</style>

<div class="table-responsive scrollbar">
    <table class="table table-hover table-striped overflow-hidden">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Reward (USD)</th>
          <th class="text-end" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle">
          <td class="text-nowrap">
            <div class="d-flex align-items-center">
              <div class="avatar avatar-xl">
                <img class="rounded-circle" src="../../assets/img/team/4.jpg" alt="" />
              </div>
              <div class="ms-2">Ricky Antony</div>
            </div>
          </td>
          <td><span class="badge badge rounded-pill d-block p-2 badge-subtle-success">Completed<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>
          </td>
          <td class="text-end">$99</td>
        </tr>
        <tr class="align-middle">
          <td class="text-nowrap">
            <div class="d-flex align-items-center">
              <div class="avatar avatar-xl">
                <img class="rounded-circle" src="../../assets/img/team/13.jpg" alt="" />
              </div>
              <div class="ms-2">Emma Watson</div>
            </div>
          </td>
          <td><span class="badge badge rounded-pill d-block p-2 badge-subtle-success">Completed<span class="ms-1 fas fa-check" data-fa-transform="shrink-2"></span></span>
          </td>
          <td class="text-end">$199</td>
        </tr>
      </tbody>
    </table>
  </div>

<%- include("../partials/footer.html") %>