<%- include("../partials/header.html") %>

<div class="alert_info" style="margin-bottom: 1rem;">
    <span style="display:inline !important;">Click the "Like Post" button, set the like in the opened window and then <b>close this window</b>. Our system will check for the presence or absence of your action and will add the reward in accordance with this.<br><br>You can <a href="/platform">create your own campaign</a> in the <b>"Quora Likes"</b> category and getting a live audience by promoting your content or account on a social network using funds on your balance.</span>
</div>

<style>
    .alert_info {
        display: block;
        width: 100%;
        background: #e4f5ff;
        border-radius: .25rem;
        padding: 15px;
        font-size: var(--fz-md);
        line-height: 20px;
        margin-top: 20px;
        font-weight: 400;
        border: 1px solid #e1e4e8;
        border-left: 6px solid #2b81ff !important;
        color: #2b81ff;
    }
    .table-responsive {
        overflow-x: auto;
    }
    .title-content {
        max-width: 900px; /* Ajuste a largura conforme necessário */
        white-space: normal;
        word-wrap: break-word;
    }
    .reward-column, .action-column {
        text-align: center;
    }
    .action-buttons {
        display: flex;
        justify-content: space-between;
    }
</style>

<div class="table-responsive scrollbar">
    <table class="table table-hover table-striped overflow-hidden">
        <thead>
            <tr>
                <th scope="col" class="col-7">Title</th>
                <th class="reward-column col-2" scope="col" cl>Reward (USD)</th>
                <th class="action-column col-3" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% if (announcements.length === 0) { %>
                <tr>
                    <td colspan="3" class="text-center">No announcements available for the selected platform and action.</td>
                </tr>
            <% } else { %>
                <% announcements.forEach(announcement => { %>
                    <tr class="align-middle">
                        <td class="text-nowrap">
                            <div class="d-flex align-items-center">
                                <div class="ms-2 title-content"><%= announcement.description %></div>
                            </div>
                        </td>
                        <td class="reward-column"><span class="badge badge rounded-pill d-block p-2 badge-subtle-success">$<%= announcement.rewardPerAction.toFixed(4) %></span></td>
                        <td class="action-column">
                            <div class="action-buttons">
                                <a href="/complete-task/<%= announcement._id %>" class="btn btn-tertiary text-center" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= action.charAt(0).toUpperCase() + action.slice(1) %> Post"><span><%= action.charAt(0).toUpperCase() + action.slice(1) %> Post</span></a>
                                <button class="btn btn-tertiary text-center" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Hide"><span class="far fa-eye-slash"></span></button>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include("../partials/footer.html") %>
